<script>
  import Icons from "./Icons.svelte";

  let newItem = "";
  let todoList = [];

  function addTodo() {
    if (newItem !== "") {
      todoList = [
        ...todoList,
        {
          task: newItem,
          completed: false,
        },
      ];
      newItem = "";
    }
  }

  function removeFromList(index) {
    todoList.splice(index, 1);
    todoList = todoList;
  }

   $: total = todoList.length
  $: comp = todoList.filter(todo => todo.completed).length


</script>

<main class="container">
  <div>
    <form on:submit|preventDefault={addTodo}>
      <input
        bind:value={newItem}
        type="task"
        class="todo_input"
        placeholder="Ввод"
      />
      <button class="todo_button">+</button>
    </form>

  
    <h2 class="todo_header" tabindex="-1">Заданий [{comp}] из [{total}] завершено</h2>

    {#each todoList as item, index}
      <div class="todo">
        <span
          class={`todo_text ${item.completed ? "todo_check" : ""}`}
          >{item.task}</span
        >

        <div class="icons">
          <button
            class="icon_button"
            on:click={() => (item.completed = !item.completed)}
          >
            <Icons name="check-mark" class="icon" />
          </button>

          <button class="icon_button" on:click={() => removeFromList(index)}>
            <Icons name="delete" class="icon" />
          </button>
        </div>
      </div>
    {/each}
  </div>
</main>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    background-size: cover;
    padding-top: 10vh;
  }
  .todo {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    width: inherit;
    margin-top: 15px;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
  }

  .todo_header {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    margin: 15px 0px 25px 0px;
    font-size: 1.2rem;
  }

  .todo_input {
    background-color: inherit;
    border: none;
    box-shadow: none;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    margin-top: 15px;
    outline: none;
    width: 500px;
  }

  .todo_button {
    background-color: inherit;
    border: none;
    box-shadow: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .icon_button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }
  .icon {
    background: rgba(0, 0, 0, 0.54);
  }

  .todo_check {
    text-decoration: line-through;
  }
</style>